<h1>Welcome to Datasheet Branding App</h1>
<p>Enter a sku code into the form input below and press enter.</p>
<p>This will take you to a template pre-filled with the product data that you can add company logo and details to. Then make a PDF with branding for you.</p>

<form action="/products" method="POST">
            <input type="text" name="sku">
            <button type="submit">Add branding</button>
        </form>